 /*empiezo con el BODY*/
 
 body {
    background-image: url(../img/BACKGROUND_FRIENDS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
 }

/* acá pongo dos selectores de etiqueta*/

 p {
   color: gold;
   background-color: blueviolet;
 }

 ol {
   background-color: blueviolet;
 }

 /*acá pongo selectores de id*/

#MediumPurple {
   color: mediumpurple;
   background-color: gold;
}

#Purple {
   color: purple;
   background-color: gold;
}

#DarkMagenta {
   color: darkmagenta;
   background-color: gold;
}

#DarkViolet {
   color: darkviolet;
   background-color: gold;
}

/*acá pongo selectores de class*/

.gold {
   color: gold;
}

.DarkViolet {
   background-color: darkviolet;
}